@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/static/Roboto-Regular.ttf");
}

.root {
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-text-fill: #2e2e2e;
}

.home-button {
    -fx-font-family: "Roboto";
    -fx-font-size: 16px !important;
    -fx-font-weight: 500;
    -fx-text-fill: #1e1e1e;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.title-label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.h2-title-label {
    -fx-font-size: 18px !important;
    -fx-font-weight: bold !important;
    -fx-text-fill: #000000 !important;
}

.label-details {
    -fx-font-size: 18px !important;
    -fx-font-weight: normal !important;
    -fx-text-fill: #000000 !important;
}

.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.text-field {
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    -fx-text-fill: #2e2e2e;
    -fx-prompt-text-fill: #999999;
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-color: #99999990;
}

.book-button {
    -fx-font-family: "Roboto";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #ff595a !important;
    -fx-text-fill: white;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-cursor: hand;
}

.button {
    -fx-font-family: "Roboto";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-cursor: hand;
}

.pagination {
    -fx-background-color: transparent;
}

.pagination .control-box {
    -fx-spacing: 5;
}

.pagination .number-button {
    -fx-background-color: e0e0e0;
    -fx-border-color: #ff595a;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-text-fill: #ff595a;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.pagination .number-button:hover {
    -fx-background-color: #e0e0e0;
}

.pagination .page-information {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
    -fx-font-size: 0;
}

